body{
    margin: 3%;
    background: rgb(206, 203, 203);
    text-align: justify;
    font-family: 'Dancing Script', cursive;
}

header{
    width: auto;
    justify-content: center;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    img{
        width: 20%;
    }
}


main {
    padding: 2%;
    width: auto;
    border: 2px solid black;
}
button{
    width: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 2px blue;
    background-color: rgb(176, 176, 240);
}

input{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 15px;
    
}
::placeholder{
    font-size: 15px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.micro1{
    margin: 2%;
    text-align: center;
    #text1{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro2{
    margin: 2%;
    text-align: center;
    #comparacion2{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro3{
    margin: 2%;
    text-align: center;
    #text{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro4{
    margin: 2%;
    text-align: center;
    #lyrics{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro5{
    margin: 2%;
    text-align: center;
    #text5{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro6{
    margin: 2%;
    text-align: center;
    #text6{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro7{
    margin: 2%;
    text-align: center;
    #text7{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro8{
    margin: 2%;
    text-align: center;
    #text8{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro9{
    margin: 2%;
    text-align: center;
    #text9{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro10{
    margin: 2%;
    text-align: center;
    #text10{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro11{
    margin: 2%;
    text-align: center;
    #text11{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro12{
    margin: 2%;
    text-align: center;
    #text12{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

footer{
    width: auto;
    justify-content: center;
    margin-top: 2%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    img{
        width: 10%;
    }
}