body{
    margin: 1%;
    background: rgb(206, 203, 203);
}

.title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.micro1{
    margin: 2%;
    text-align: center;
    #comparacion{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
        font-family: 'Dancing Script', cursive;
    }
}

.micro2{
    margin: 2%;
    text-align: center;
    #comparacion2{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
        font-family: 'Dancing Script', cursive;
    }
}