body{
    margin: 1%;
    background: rgb(206, 203, 203);
    text-align: center;
    font-family: 'Dancing Script', cursive;
}


.micro1{
    margin: 2%;
    text-align: center;
    #comparacion{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro2{
    margin: 2%;
    text-align: center;
    #comparacion2{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}

.micro3{
    margin: 2%;
    text-align: center;
    #text{
        margin: 1%;
        padding: 1%;
        border: solid 1px black;
    }
}